.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between; /* Ensures space between the logo and nav */
    align-items: center;
    z-index: 100;
    background: rgba(0,0,0,0.5);
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    margin-left: auto;
    margin-right: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #d3d3d3;
}

.menu-icon img {
    height: 30px;
    cursor: pointer;
}